.my-footer {
    background-color: #163b65;
    padding: 1em;
    color: white;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}

.subHeading{
    font-weight: bold;
}

.break {
    white-space: pre;
}